{% extends "base.html" %}

{% block title %} Product Details | My Ecommerce Site{% endblock %}

{% block content %}
    <div class="product-card">
        <img class="product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
        <a href="{% url 'product_detail' product.id %}"><h2>{{ product.name }}</h2></a>
        <p>{{ product.description }}</p>
        <p>Rs. {{ product.price }}</p>
        <form method="post" action="{% url 'add_to_cart' product.id %}">
            {% csrf_token %}
            <label>Quantity</label>
            <input type="number" name="quantity" value="1" min="1" required>
            <button type="submit">Add to Cart</button>
        </form>
    </div>
{% endblock %}