{% extends "base.html" %}

{% block title %}Login | My Ecommerce Site{% endblock %}

{% block content %}
<div>
    <div>
        <form class="signup-form" method="POST">
            {% csrf_token %}
            <h2>Login</h2>

            <div class="form-group">
                <div class="form-label">
                    {{ form.username.label_tag }}
                </div>
                <div class="form-input">
                    {{ form.username }}
                </div>
            </div>

            <div class="form-group">
                <div class="form-label">
                    {{ form.password.label_tag }}
                </div>
                <div class="form-input">
                    {{ form.password }}
                </div>
            </div>
            
            <div class="form-action">
                <button type="submit" class="btn">
                    Login
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
