{% extends "base.html" %}

{% block title %}Sign Up | My Ecommerce Site{% endblock %}

{% block content %}
<div>
    <div>
        <h1>Sign Up</h1>
        <form method="POST">
            {% csrf_token %}

            <div>
                {{ form.username.label_tag }}
                {{ form.username }}
                {% if form.username.errors %}
                    <p>{{ form.username.errors }}</p>
                {% endif %}
            </div>

            <div>
                {{ form.email.label_tag }}
                {{ form.email }}
                {% if form.email.errors %}
                    <p>{{ form.email.errors }}</p>
                {% endif %}
            </div>

            <div>
                {{ form.password1.label_tag }}
                {{ form.password1 }}
                {% if form.password1.errors %}
                    <p>{{ form.password1.errors }}</p>
                {% endif %}
            </div>

            <div>
                {{ form.password2.label_tag }}
                {{ form.password2 }}
                {% if form.password2.errors %}
                    <p>{{ form.password2.errors }}</p>
                {% endif %}
            </div>

            <button type="submit">
                Sign Up
            </button>
        </form>
    </div>
</div>
{% endblock %}
